*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #414141;
    overflow-x: hidden;
}

h1{
    padding-top: 15px;
    color: white;
    padding-left: 20px;
}

header{
    width: auto;
    padding: 0;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

#cabeçalho{
    margin: 0;
    border: 0;
    padding-top: 0;
    padding-left: 5px;
    display: flex;
    height: 60px;
    background-color: #FEBC5A;
}

.navigation > a {
    position: relative;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.navigation > .Home {
    position: relative;
    font-size: 1.4em;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 0px;
    letter-spacing: 0.06em;
}

.navigation > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;    
}

.navigation > a:hover:after {
    transform: scaleX(1);
}


.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 4% 0px;
}

#Contact{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    height: 40vh;
}

#Contact > div{
    padding-top: 10px;
}

#Contact > div > input{
    text-align:start ;
    border-radius: 10px;
    height: 25px;
    width: 800px;
    font-size: medium;
}

#Contact > div > .input-text{
    height: 300px;
}

div > .input-text{
    text-align: top;
    text-align: left;
}

@media only screen and (max-width: 768px){

    header{
        font-size: 85%;
    }

    h1{
        font-size: 2rem;
    }

    #projetos > img{
        height: 60%;
        width: 30%;
    }

    #eu{
        padding-left: 10%;
        flex-direction: column;
        align-items: center;
    }

    #eu > section > img{
        height: 10%;
        width: 115px;
    }

    #eu > nav{
        text-align: left;
    }

    #Contact > div > input{
        height: 90%;
        width: 90%;
        font-size: medium;
    }

    #text > input{
        height: 30%;
        width: 90%;
        font-size: medium;
    }
}